{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h1 id="blogtitle" class="font-weight-bold text-center mt-3"> Moon Blog 🌙 </h1>

<h3 id="numbertitle" class="text-center mb-5">Ronard has written {{ count }} blog{{ count|pluralize }}</h3>

{% for blog in page.object_list %}
<div class="row justify-content-center my-5">
  <div class="col-md-10">
    <a href="{% url 'blog:detail' blog.id %}">
      <h2>{{ blog.title }}</h2>
    </a>
    <h5 class="text-muted">{{ blog.date|date:'M d Y'|upper }}</h5>
    <h5>{{ blog.description|striptags|truncatechars:100 }}</h5>
    <a href="{% url 'blog:post_share' blog.id %}">Share: <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
    </svg></a>
  </div>
</div>
{% endfor %}

<!-- Pagination -->
  <div class="row justify-content-center">
      <div class="col-xs-1 justify-content-center">
        {% if page.has_previous %}
          <a href="{% url 'blog:all_blogs' %}?page={{ page.previous_page_number }}"> Previous </a>
        {% endif %}
        {% if page.has_next %}
          <a href="{% url 'blog:all_blogs' %}?page={{ page.next_page_number }}"> Next </a>
        {% endif %}
      </div>
  </div>
  <p class="text-right">Page {{ page.number }}</p>
<!-- End Pagination -->


{% endblock %}