<!-- Imports header and footer -->
{% extends 'portfolio/base.html' %}

<!-- Uses imported header -->
{% block content %}
<div class="text-right blog_tag_copy">
    <p> Tags: <strong >{{ blog.tags.all|join:", " }}</strong> </p>
</div>
<h1 class="text-center mt-5" id="blogdetailtitle">{{ blog.title }}</h1>
<h5 class="text-center text-muted mb-5">{{ blog.date|date:'F jS Y' }}</h5>
<a class="btn btn-info btn-sm" href="{% url 'blog:all_blogs' %}"> Back </a>
<div class="text-right">
    <a href="{% url 'blog:post_share' blog.id %}" >Share: <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
        </svg>
    </a>
</div>
{% if blog.image %}
    <img src="{{ blog.image.url }}" alt=" Blog Image" id="blog_image">
{% endif %}

<p class="rounded"> {{ blog.description|safe }} </p>

{% if blog.url %}
    <a class="text-right btn btn-outline-info btn-sm text-right" href="{{ blog.url }}" target="blank"> More on this topic... </a>
{% endif %}

<!-- Comment functionality -->
<hr class="comment-line">
<div class="container">
    <div class="comment-section">
        {% with comments.count as total_comments %}
            <h4>
                {{ total_comments }} Comment{{ total_comments|pluralize }}
            </h4>
            <br>
        {% endwith %}
        {% for comment in comments %}
        <div class="comment">
            <p class="info">
                <strong class="comment_user"> {{ comment.name }} </strong> 
            </p>
            <p class="comment_body">{{ comment.body|linebreaks }}</p>
            <span class="comment_date">{{ comment.created|date:'M d Y - h:i a' }}</span> 
            <hr class="line_between_comments">
        </div>
        {% empty %}
        <p> There are no comments yet. </p>
        {% endfor %}
    <!-- Similar Posts -->
    <!-- The similar functionality function does not work. Error the filter in the views.py -->
    <!-- <h2>Similar Posts</h2>
    {% for blog in similar_blogs %}
        <p>
            <a href="{{ blog.get_absolute_url }}"> {{ blog.title }}</a>
        </p>
        {% empty %}
        There are no similar blog posts yet.
    {% endfor %} -->
    <!-- Form to submit comments -->
        <br>
        {% if new_comment %}
            <h3>Your comment has been added.</h3>
        {% else %}
            <h3>Add a new comment</h3>
            <form method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Add comment">
            </form>
        {% endif %}
    </div>

</div>

<br>
<p class="text-right">
    <a class="btn btn-info btn-sm" href="{% url 'blog:all_blogs' %}"> Back </a>
</p>
{% endblock %}