.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
}
.main-name {
    font-size: 1.4em;
}
.comment-line {
    width: 70%;
}
a {
    text-decoration: none;
}

#blogtitle {
    font-size: 3.6rem;
}
#numbertitle {
    font-size: 1.5rem;
}

.linebelowcomment {
    width: 90%;
}
.comment-section {
    padding-top: 1.5em;
}
.comment_user {
    color: #0c7ea1;
}
.line_between_comments{
    width: 40%;
}
.comment_date{
    color: rgb(113, 109, 109);
    font-size: .85rem;
    text-align: right;
}
.comment_body{
    margin-top: -12px;
    padding-bottom: -5px;
}

.blog_outer_description{
    margin-top: -10px;
}

#blog_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 3rem;
    }
    #blogdetailtitle {
        font-size: 3.4rem !important;
    }
}